
#container
{
    width: 100%;
	max-width: 1000px;
    margin-left: 30px;
}

main
{
    display: flex;
    flex-wrap: wrap;
}

header
{
    display: flex;
    justify-content: space-between;
}

header img
{
    width: 67px;
    height: 29px;
}

nav ul
{
    display: flex;   
}

nav li 
{
	list-style: none;
	padding-left: 85px;
    font-size: 0.9em;
    padding-right: 0px;
}

.surlignement
{
    text-decoration: overline;
    
}

.activites a:link
{
    color: black;
}

.s_inscrire
{
    font-weight: bold;
}

#annonces h1
{
    font-size: 17px;
    display: flex;
    line-height: 6px;
}

#annonces h3
{
    font-size: 12px;
    line-height: 9px;
    font-weight: normal;
}

#recherches
{
    display: flex;
    align-items :center;
    border: 1px #f2f2f2 solid;
    width: 280px;
    border-radius: 10px;
    margin-top: 18px;
    
    
}

.pointeur
{
    background-color:  #f2f2f2;;
    font-size: 0.8em;
    height: 23px;
    width: 35px;
    text-align: center; 
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    padding-top: 10px;   
    
}

.champ
{
    height: 29px;
    width: 145px;
    margin-right: 0;
    border:hidden;    
    font-size: 0.8em;
}

input::placeholder
{
    color: black;
    font-weight: bold;
    padding-left: 6px;
}

.boutton
{
    height: 31px;
    background-color:#0065FC;
    text-align: center;
    color: white;
    font-size: 0.9em;
    height: 23px;
    width: 100px;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    padding-top: 10px;
   
}












#filtres
{
    display: flex;
    align-items: center;
    margin: 20px 0 5px 0;
    line-height: 1px;
   
    
}

.filtre-rubrique
{
    display: flex;
    align-items: center;
    margin: 5px 8px 5px 8px;
    border: 2px solid #d8d8d8;
    border-radius: 3em;
}


.pictogramme
{
      height: 12px;
      width: 12px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 8px;
      font-size: 0.7em;
      color: #0065FC;
      background-color: #DEEBFF;
      border-radius: 2em;   
      transform: scale(1.2);
}



#filtres h3
{
    font-size: 0.9em;
    margin-right: 10px;  
    
    
}

.onglet1
{
    width: 80px;
    padding-left: 10px;
    

    
}

.onglet2
{
    width: 55px;
    padding-left: 10px;
    
    

}

.onglet3
{
    width: 75px;
    padding-left: 10px;


}

.onglet4
{
    width: 120px;
    padding-left: 10px;

    
}













#informations
{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    
    
}


.i-infos
{
    padding: 4px 6px 3px 6px;
    color: #0065FC;
    font-size: 0.6em;
    border: 2px solid #F2F2F2;
    border-radius: 3em; 
    
}

.texte-infos 
{
    font-size: 0.8em;
    color: black;
    font-weight: normal;
    margin-left: 6px;
    line-height: 1.5em;
}

#hebergementsMarseille
{
    background-color: #f2f2f2 ;
    width: 59%;
    height: 415px;
    border-radius: 20px;
}

#hebergementsMarseille h1
{
    font-size: 17px;
    padding-left: 25px;
    padding-top: 10px;
}

.hebergements_simples
{  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.mini_bloc_H 
{
    background-color: white;
    border-radius: 12px;
    padding: 0 3px 3px 3px;
    width: 157px;
    height: 128px;  
    margin-bottom: 20px;
    margin-left: 14px;
    margin-right: 8px;
}


.image_H
{
    width: 150%;
    height: 90%;   
}

.image_H img
{
    width: 66%;
    height: 64%; 
    border-top-left-radius:12px ;
    border-top-right-radius: 12px;
    padding-top: 3px;
    padding-right: 1px;
    padding-left: 1px;
    object-fit: cover ;
}


.descriptif_H
{
    font-size: 11px;
    color: black;
    padding-left: 8px;
}

.descriptif_H h3
{
    font-size: 12px;
    margin-top: 3px;
    line-height: 8px;
}

.descriptif_H p
{
    line-height: 0px;
}

.etoilepleine
{
    color: #0065FC;
    font-size: 8px;
    padding-top: 10px;
}

.etoilevide
{
    color: rgb(221, 217, 217);
    font-size: 8px;
}

a
{
    text-decoration:none;
}

.afficherplus a:link
{
    font-size: 0.9em;
    font-weight: bold;
    color: black;
    padding-left: 30px;
}


#hebergementsPopulaires
{
    background-color: #f2f2f2;
    width: 370px;
    margin-left: 20px;
}

.les_plus_populaires h1
{
    font-size: 17px;
    padding-left: 25px;
    padding-top: 10px;
}    

.les_plus_populaires
{
    display: flex;
}


.mini_bloc_P
{
    background-color: white;
    border-radius: 12px;
    padding-left: 1px;
    width: 157px;
    height: 128px;
    
    
}


.image_P
{
    width: 50%;
    height: 90%;
    
}

.image_P img
{
    width: 66%;
    height: 64%; 
    border-top-left-radius:12px ;
    border-top-right-radius: 12px;
    padding-top: 3px;
    padding-right: 1px;
    padding-left: 1px;
    object-fit: cover ;
}

.descriptif_P h3
{
    font-size: 12px;
    margin-top: 3px;
    line-height: 8px;
}