@font-face
  {
    font-family: 'Raleway', sans-serif; 
  }
  

#container
{
    margin: 0;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
}


/*organisation du Header et du main*/

header
{
    display: flex;
    justify-content: space-between;   
}

header img
{  
    margin-top: 20px;
}

main, header
{
    margin: 0 3% 0 3%;
}

main
{
    display: flex;
    flex-wrap: wrap;
}

/*Agencement du menu des liens*/

nav 
{
    display: flex;
    justify-content: flex-end;
}

nav ul 
{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav li 
{
    padding: 33px 30px 0 30px;
}

.s_inscrire
{
    font-weight: 900;
    font-size: 1.3em;
}

.s_inscrire :visited
{
    color: #0065FC;
}

.ancres
{
    font-size: 1.3em;
}
.ancres a:link
{
    color: black;
}

.ancres :visited
{
    color: black;
}

.ancres a:hover
{
    border-top: 3px solid #0065FC;
    padding: 30px 0px 0px 0px;
    color: #0065FC;
}

#annonces h1
{
    font-size: 1.5em;
    margin: 30px 0 0 0;
}

/*Titres introductifs*/
#annonces h3
{
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: normal;
}

/*Aire de recherche*/
#recherches
{
    display: flex;
    align-items :center;
    border: 2px #f2f2f2 solid;
    width: 95%;
    height: 35px;
    border-radius: 10px;
    margin: 30px 0 30px 0;  
}

.pointeur
{
    background-color:  #f2f2f2;;
    font-size: 1.1em;
    height: 1.6em;
    width: 4em;
    text-align: center; 
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    padding-top: 10px;      
}

.champ
{
    height: 1.8em;
    width: 530px;
    border:hidden;    
    font-size: 1em;
    outline: none;
}

input::placeholder
{
    color: black;
    font-weight: bold;
    padding-left: 6px;
}

.bouton
{
    height: 25px;
    background-color:#0065FC;
    text-align: center;
    color: white;
    font-size: 1em;
    width: 35%; 
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    padding-top: 10px;
}

.loupe 
{
    display: none
}

/*Zone des filtres*/
#filtres
{
    display: flex;
    align-items: center;
}

.filtre-rubrique
{
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 0;  
    border: 2px solid #d8d8d8;
    border-radius: 3em;
}

.onglet1,.onglet2,.onglet3,.onglet4, :visited
{
    color: black;
}


.pictogramme
{
      height: 0.9em;
      width: 1.2em;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 8px;
      font-size: 1.2em;
      color: #0065FC;
      background-color: #DEEBFF;
      border-radius: 2em;  
}

#filtres h3
{
    font-size: 0.9em;
    margin-right: 10px;     
}

.onglet1
{  
    padding-left: 10px;  
    margin: 0;
}

.onglet2
{
    width: 7%;
    padding-left: 10px;
    margin: 0;
}

.onglet3
{
    width: 14%;
    padding-left: 10px;
    margin: 0;
}

.onglet4
{
    width: 130px;
    padding-left: 10px;  
    margin: 0; 
}

.filtre-rubrique :hover
{
    color: rgb(177, 59, 161);
    text-decoration: underline;  
}

.filtre-rubrique :visited
{
    color: black;
}

/*Ligne informations*/

#informations
{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;  
}


.i-infos
{
    padding: 4px 8px 3px 8px;
    color: #0065FC;
    font-size: 0.6em;
    border: 2px solid #F2F2F2;
    border-radius: 3em;   
}

.phrase-infos 
{
    font-size: 0.9em;
    color: black;
    font-weight: normal;
    margin-left: 6px;
    line-height: 2.2em;
}

/*Section du premier bloc d'images des hébergements à Marseille*/
#hebergementsMarseille
{
    background-color: #f2f2f2 ;
    width: 65%;
    height: 780px;
    border-radius: 20px;
}

#hebergementsMarseille h1
{
    font-size: 1.5em;
    padding: 50px 0 0 55px;
}

#hebergements_simples
{  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Agencement de chaque petite photo des hébergements à Marseille avec son descritptif*/
.mini_bloc_H 
{
    background-color: white;
    border-radius: 16px;
    padding: 0 3px 3px 3px;
    width: 27%;
    height: 230px;  
    margin: 20px 0px 30px 30px;
    box-shadow: 1px 1px 5px rgb(194, 192, 192);
}

.image_H
{
    width: 150%;
    height: 90%;   
}

/*Agencement de l'image elle-même des hébergements à Marseille*/
.image_H img
{
    width: 66%;
    height: 75%; 
    border-top-left-radius:16px ;
    border-top-right-radius: 16px;
    padding-top: 3px;
    padding-right: 1px;
    padding-left: 1px;
    object-fit: cover ;
}


.descriptif_H
{
    font-size: 0.8em;
    color: black;
    padding-left: 8px;
}

.descriptif_H h3
{
    font-size: 1.3em;
    margin-top: 5px;
    line-height: 3px;
}

/*Style des étoiles pour les deux blocs*/
.etoilepleine
{
    color: #0065FC;
    font-size: 0.9em;
}

.etoilevide
{
    color: rgb(221, 217, 217);
    font-size: 1em;
}

a
{
    text-decoration:none;
}

/*Caractéristiques du renvoi 'Afficher plus'*/
.afficherplus a:link
{
    font-size: 1em;
    font-weight: bold;
    color: black;
    padding-left: 55px;
}

.afficherplus :visited
{
color: black;
}

.strong
{
    font-weight: bold;
}

.afficherplus
{
    padding-top: 30px;
}


/*Section du deuxième bloc d'images des hébergements à Marseille les plus populaires*/

#hebergementsPopulaires
{
    background-color: #f2f2f2;
    width: 32%;
    height: 780px;
    margin-left: 40px;
    border-radius: 20px;
}

.les_plus_populaires h1
{
    font-size: 1.5em;
    padding: 50px 0 0 65px;
}    

.picto
{
    margin: 2.7vw 4.5vw 0 0;
    font-size: 1.6em;
}

.les_plus_populaires
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Agencement de chaque petite photo des hébergements à Marseille les plus populaires avec son descritptif*/

.mini_bloc_P
{
    background-color: white;
    border-radius: 16px;
    padding-left: 2px;
    padding-bottom: 2px;
    width: 80%;
    height: 160px;  
    margin: 30px 0 30px 65px;
    box-shadow: 1px 1px 5px rgb(194, 192, 192);
}


.image_P
{
    width: 90%;
    height: 183px;  
    display: flex;
}

/*Agencement de l'image elle-même des hébergements à Marseille les plus populaires*/

.image_P img
{
    width: 45%;
    height: 85%; 
    border-top-left-radius:16px ;
    border-bottom-left-radius: 16px;
    padding: 3px 1px 0 1px;
    object-fit:cover ; 
}

.descriptif_P h3
{
    font-size: 1.1em;
    margin: 10px 10px 0 0;
    color: black;
}

.descriptif_P p
{
    color: black;
    font-size: 0.9em;
}

.descriptif_P
{
    margin-left: 10px;
}

/*Section du dernier bloc d'images des activités à Marseille*/

.activitesMarseille 
{
    font-size: 1.5em;
    padding-top: 30px;
}

#activiteMarseille
{
    display: flex;
    justify-content :center;     
}

.photos_portrait
{
    width:28% ;
    height: 500px ;
    box-shadow: 1px 2px 3px #f2f2f2;
    border-radius: 15px;
}


.photos_portrait img
{
    width: 100%;
    height: 450px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;   
}

/*Organisation des 4 images superposées des activités à Marseille*/

.superposees1
{
    margin: 0 0 20px 45px;
    border-radius: 15px;
    box-shadow: 1px 2px 3px #f2f2f2;
    width: 85%;
    height: 240px;
}

.superposees2
{
    margin: 0 20px 0 45px;
    border-radius: 15px;
    box-shadow: 1px 2px 3px #f2f2f2;
    width: 85%;
    height: 240px;
}

.superposees3
{
    margin: 0 0 20px 45px; 
    border-radius: 15px;
    box-shadow: 1px 2px 3px #f2f2f2;
    width: 88%;
    height: 240px;
}

.superposees4
{
    margin-left: 45px;
    border-radius: 15px;
    box-shadow: 1px 2px 3px #f2f2f2;
    width: 88%;
    height: 240px;
}

/*Agencement des 4 images superposées des activités à Marseille*/

#fort
{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

#frioul
{
    width: 100%;
    height: 79%;
    object-fit: cover;
}

#dame
{
    width: 100%;
    height: 82%;
    object-fit: cover;
}

#parc
{
    width: 100%;
    height: 82%;
    object-fit: cover;
}


.photos_paysage img
{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


#activiteMarseille h3
{
    color: black;
    font-size: 1.1em;
    margin: 15px 0 0 15px; 
}


/*Organisation du Footer*/

footer
{
    display: flex; 
    justify-content: space-between; 
    background-color: #f2f2f2; 
    height: 150px;
    margin: 100px 0 0 0;
    padding: 30px 25% 50px 50px;
}

footer h3
{
    font-size: 1.1em;
    margin-left: 41px;
}   

footer li
{
    font-size: 1.1em;
    line-height: 2.5em;
    list-style: none;
}






/*Organisation du Responsive*/



@media screen and (min-width:1900px)
{
    h1
    {
        color: red;
    }
    .s_inscrire
    {
        font-size: 1.3em;
    }

    .ancres
    {
        font-size: 1.3em;
    }
    
    #annonces h1
    {
        font-size: 1.8em;
    }
    
    #annonces h3
    {
        font-size: 1.3em;
        line-height: 1.5em;
    }
    #recherches
    {
        width: 75%;
        height: 48px;
        border-radius: 10px;
        margin: 30px 0 30px 0;  
    }
    
    .pointeur
    {
        font-size: 1.3em;
        height: 2em;
        width: 3em;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        padding-top: 10px;      
    }
    
    .champ
    {
        height: 2em;
        width: 550px;
        margin-right: 30px;
        border:hidden;    
        font-size: 1.3em;
    }
    
    
    .bouton
    {
        height: 42px;
        font-size: 1.3em;
        width: 25%; 
        border-top-right-radius:10px ;
        border-bottom-right-radius:10px ;
        padding-top: 10px;
    }
    
    .filtre-rubrique
    {
        margin: 10px 20px 10px 0;  
        border-radius: 3em;
    }
    
    .pictogramme
    {
          height: 1.4em;
          width: 1.8em;
          padding: 8px;
          font-size: 1.5em;
          border-radius: 2em;  
    }
    
    #filtres h3
    {
        font-size: 1.3em;
        margin-right: 20px;     
    }

    .i-infos
    {
        padding: 4px 8px 3px 8px;
        font-size: 1em;
        border-radius: 3em;   
    }
    
    .phrase-infos 
    {
        font-size: 1.3em;
        margin-left: 6px;
        line-height: 2.2em;
    }
    
    #hebergementsMarseille
    {
        width: 65%;
        height: 1120px;
        border-radius: 20px;
    }
    
    #hebergementsMarseille h1
    {
        font-size: 1.8em;
        padding: 50px 0 0 55px;
    }
    
    .mini_bloc_H 
    {
        border-radius: 16px;
        padding: 0 3px 3px 3px;
        width: 27%;
        height: 330px;  
        margin: 30px;
    }
    
    .image_H
    {
        width: 150%;
        height: 90%;   
    }
    
    .image_H img
    {
        width: 66%;
        height: 70%; 
        border-top-left-radius:16px ;
        border-top-right-radius: 16px;
    }
    
    .descriptif_H
    {
        font-size: 1.1em;
        padding-left: 8px;
    }
    
    .descriptif_H h3
    {
        font-size: 1.2em;
        margin-top: 15px;
        line-height: 8px;
    }
    
    .etoilepleine
    {
        font-size: 0.7em;
    }
    
    .etoilevide
    {
        font-size: 1em;
    }
 
    .afficherplus a:link
    {
        font-size: 1.3em;
        padding-left: 55px;
    }
    
    .afficherplus
    {
        padding-top: 60px;
    }
    
    #hebergementsPopulaires
    {
        width: 32%;
        /*height: 1120px;*/
        height: auto;
        margin-left: 40px;
        border-radius: 20px;
    }
    
    .les_plus_populaires h1
    {
        font-size: 1.8em;
        padding: 50px 0 0 65px;
    }    
    
    .picto
    {
        margin: 2.7vw 4.5vw 0 0;
        font-size: 2em;
    }
    
    .mini_bloc_P
    {
        border-radius: 16px;
        padding-left: 2px;
        padding-bottom: 2px;
        width: 80%;
        height: 260px;  
        margin: 30px 0 30px 65px;
    }
    
    .image_P
    {
        width: 90%;
        height: 300px;  
    }
    
    .image_P img
    {
        width: 45%;
        height: 85%; 
        border-top-left-radius:16px ;
        border-bottom-left-radius: 16px;
    }
    
    .descriptif_P h3
    {
        font-size: 1.3em;
        margin: 10px 10px 0 0;
    }
    
    .descriptif_P p
    {
        font-size: 1.1em;
    }
    
    .activitesMarseille 
    {
        font-size: 1.8em;
        padding-top: 30px;
    }
  
    .photos_portrait
    {
        width:28% ;
        height: 850px ;
        border-radius: 15px;
    }
    
    .photos_portrait img
    {
        width: 100%;
        height: 775px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    .superposees1
    {
        margin: 0 0 70px 45px;
        border-radius: 15px;
        width: 85%;
        height: 400px;
    }
    
    .superposees2
    {
        margin: 0 20px 0 45px;
        border-radius: 15px;
        width: 85%;
        height: 380px;
    }
    
    .superposees3
    {
        margin: 0 0 50px 45px; 
        border-radius: 15px;
        width: 88%;
        height: 400px;
    }
    
    .superposees4
    {
        margin-left: 45px;
        border-radius: 15px;
        width: 88%;
        height: 400px;
    }
    
    #fort
    {
        width: 100%;
        height: 82%;
    }
    
    #frioul
    {
        width: 100%;
        height: 80%;
    }
    
    #dame
    {
        width: 100%;
        height: 82%;
    }
    
    #parc
    {
        width: 100%;
        height: 82%;
    }
    
    
    .photos_paysage img
    {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    
    #activiteMarseille h3
    {
        font-size: 1.3em;
        margin: 15px 0 0 15px; 
    }
    
    footer
    {
        display: flex; 
        justify-content: space-between; 
        background-color: #f2f2f2; 
        height: 200px;
        margin: 100px 0 0 0;
        padding: 30px 25% 50px 50px;
    }
    
    footer h3
    {
        font-size: 1.4em;
        margin-left: 41px;
    }   
    
    footer li
    {
        font-size: 1.3em;
        line-height: 2.5em;
        list-style: none;
    }
    

}


@media screen and (min-width: 1080px) and (max-width:1500px)
{
    h1 
    {
        color: blueviolet;
        font-size: 1.8em;
    }

    #hebergementsMarseille
    {
        width: 60%;
        height: auto;
        border-radius: 20px;
    }
    
    #hebergementsMarseille h1
    {
        padding: 50px 0 0 55px;
    }
    
    .mini_bloc_H 
    {
        border-radius: 16px;
        padding: 0 3px 3px 3px;
        width: 43%;
        height: 330px;  
       margin-left: 10px;
    }
    
    .image_H
    {
        width: 150%;
        height: 90%;   
    }
    
    .image_H img
    {
        width: 66%;
        height: 70%; 
        border-top-left-radius:16px ;
        border-top-right-radius: 16px;
    }
    
    .descriptif_H
    {
        font-size: 1.1em;
        padding-left: 8px;
    }
    
    .descriptif_H h3
    {
        margin-top: 15px;
        font-size: 1em;
    }
    
    .etoilepleine
    {
        font-size: 0.7em;
    }
    
    .etoilevide
    {
        font-size: 1em;
    }
 
    .afficherplus a:link
    {
        font-size: 1.3em;
        padding-left: 55px;
    }
    
    .afficherplus
    {
        padding-top: 60px;
    }
    
    #hebergementsPopulaires
    {
        width: 35%;
        height: auto;
        border-radius: 20px;
    }
    
    .les_plus_populaires h1
    {
        padding: 40px 0 0 15px;
    }    
    
    .picto
    {
        margin: 2.7vw 4.5vw 0 0;
        font-size: 2em;
    }
    
    .mini_bloc_P
    {
        border-radius: 16px;
        padding-left: 2px;
        padding-bottom: 2px;
        width: 96%;
        height: 330px;  
        margin: 25px 0 55px 6px;
    }
    
    .image_P
    {
        width: 90%;
        height: 300px;  
    }
    
    .image_P img
    {
        width: 75%;
        height: 108%; 
        border-top-left-radius:16px ;
        border-bottom-left-radius: 16px;
    }

    #activiteMarseille
    {
        flex-direction: row;
        align-items:center;
    }

    .activitesMarseille
    {
        margin-bottom: 60px;
    }

    #activiteMarseille h3
    {
        margin-top: 3px;
    }
    

    .photos_portrait
    {
        width:50% ;
        height: 400px;
        border-radius: 15px;
        
    }
    
    .photos_portrait img
    {
        width: 100%;
        height: 350px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    .superposees1
    {
        border-radius: 15px;
        width: 75%;
        height: 400px;
    }
    
    .superposees2
    {
       /* margin: 0 20px 0 45px;*/
        border-radius: 15px;
        width: 75%;
        height: 400px;
        
    }
    
    .superposees3
    {
       /* margin: 0 0 50px 45px; */
        border-radius: 15px;
        width: 80%;
        height: 400px;
        
    }
    
    .superposees4
    {
      /*  margin-left: 45px;*/
        border-radius: 15px;
        width: 80%;
        height: 400px;
    }
    
    #fort
    {
        width: 100%;
        height: 88%;
    }
    
    #frioul
    {
        width: 100%;
        height: 88%;
    }
    
    #dame
    {
        width: 100%;
        height: 86%;
    }
    
    #parc
    {
        width: 100%;
        height: 88%;
    }

    
}


@media screen and (max-width: 991.98px)  /*Tablette*/
{
    #container
    {
        margin-left: 30px;
        margin-right: 30px;
        width: 100%;
        color: chartreuse;
    }

    header
    {
        flex-direction: column; 
    }

    nav ul 
    {
        
    }

    nav li 
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    main 
    {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #recherches
    {
        width: 80%;
    }

    .champ
    {
        width: 370%;
        font-size: 1em;
    }

    .bouton
    {
        width: 20%;
        margin-left: 55%;
    }

    .pointeur
    {
        width: 10%;
        height: 31px;
        font-size: 1.2em;
        padding-top: 5px;
    }

    #filtres
    {
        
        flex-wrap: wrap;
    }

    

    #hebergementsMarseille
    {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    #hebergementsPopulaires
    {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }
    

    .picto
    {
        margin-right: 60px;
    }

    .les_plus_populaires h1
    {
        margin-left: 40px;
    }


    .mini_bloc_P
    {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .descriptif_P
    {
        padding-left: 5px;
    }

    .descriptif_P p 
    {
        text-align: start;
    }

   
    #activiteMarseille
    {
        flex-direction: column;
        height: 2500px;
    }


    .photos_portrait
    {
        margin-left: auto;
        margin-right: auto;
        width: 100%; 
    }

    .photos_portrait img
    {
        height: 360px;
    }

    .superposees1, .superposees2, .superposees3, .superposees4
    {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        height: 350px;
        width: 100%;
    }

    #fort
    {
        height: 300px;
    }

     #parc
    {
        height: 300px;
    }

    #frioul, #dame
    {
        height: 300px;
    }

    #activiteMarseille h3
    {
        margin-top:3%;
        padding-bottom: 5px;
    }

    
    footer
    {
        flex-direction: column;
        height: auto;
        margin-top: 50px;
    }
    
}


@media screen and (max-width: 750px)  /*phone*/
{
    #container
    {
        color: saddlebrown;
        margin-left: 2px;
        margin-right: 2px;
        width: auto;
    }

    body 
    {
        width: 100%;
    }

    header
    {
        width: auto;
        height: auto;
    }

    /*nav li 
    {
        width: 5%;
    }*/

    .ancres
    {
        border-top: none;
        padding-right: 60%;
        margin-left: -20%;
        border-bottom: 3px #f2f2f2 solid;
        padding-bottom: 5px;
    }

    .ancres a:hover
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding: 0px 0px 5px 0px;
        color: #0065FC;
    }

    .s_inscrire
    {
        margin-top: -30px;
        margin-left: -70%;
        height: 5px;
    }

    #annonces h1
    {
        color: green;
    }


    main 
    {
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;  
    }


    #annonces h1
    {
        overflow-wrap: break-word;
    }

   #recherches
    {
        width: auto;
    }

   

    .bouton
    {
        display: none;
    }

    .loupe 
    {
        display: flex;
        margin-left: 60%;
        height: 24px;
        border-radius: 10px;
        background-color: #0065FC;
        color: white;
        width: 26%;
        padding-top: 10px;
        padding-left: 16px;
        font-size: 1em;
    }

    .pointeur
    {
        width: 40%;
        height: 29px;
    }

    #filtres h3
    {
      width: 100%;
    }

    #filtres
    {
        margin-right: 40px;
        padding-right: 100px;
    }


    #activite_a_Marseille:nth-child(4)
    {
        order: 4;
    }

    #hebergementsPopulaires:nth-child(3)
    {
        order: 2;
    }

    #hebergementsMarseille:nth-child(2)
    {
        order: 3;
    }

    #presentation:nth-child(1)
    {
        order: 1;
    }

    

    #hebergementsMarseille
    {
       background-color: white;
       width: auto;
    }

    #hebergements_simples
    {
        flex-direction: column;
        width: auto;
    }

    .mini_bloc_H 
    {
        width: 97%;
        height: 270px;  
    }
    
    
    .image_H
    {
        width: 100%;
        height: 90%;   
    }
    
    
    .image_H img
    {
        width: 100%;
        height: 200px; 
        
    }

    #hebergementsPopulaires
    {
        width: auto;
    }


    #hebergementsPopulaires h1
    {
       margin-left: 3%;
    }

    #hebergementsPopulaires h3
    {
        text-align: start;
    }
    

    .picto
    {
       margin-right: 5%;
    }


    .mini_bloc_P
    {
      width: 95%;
    }

    /*.descriptif_P p 
    {
        padding-bottom: 12px;
    }*/

    .afficherplus a:link
    {
       font-size: 0.9em;
       margin-left: -35px;
    }

   
    #activiteMarseille
    {
        margin-top: -280px;
    }

    .activitesMarseille
    {
       margin-top: 1400px;
           
    }
    
    .photos_portrait
    {
       height: 270px;
    }

    .photos_portrait img
    {
        height: 80%;
    }

    .superposees1, .superposees2
    {
        height: 270px;
        width: auto;
        
    }

    #fort, #frioul
    {
        height: 80%;
    }

    .superposees3, .superposees4
    {
        height: 270px;
    }

    #parc, #dame
    {
        height: 80%;
    }


   

    
    footer
    {
        margin-top: -300px;
    }
    
}










